<!doctype html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>donezo</title>
	</head>
	<body>
		<h1>Success <%= craycray %></h1>
		<%= craycray %>
		<%= jayjay %>
		<%= saysay %>
		<%= baebae %>
		<%= naynay %>
	</body>
<html>